## What to do?

- <s>Recommend movies to users based on implicit recommend function</s>
- <s>Because you've watched feature</s>
- <s>Trending Movies</s>
- <s>Export model and data for production</s>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import implicit
import random

import scipy.sparse as sparse

%matplotlib inline

In [2]:
ratings = pd.read_csv("data/ml-latest-small/ratings.csv")

In [3]:
ratings = ratings[["userId", "movieId", "rating"]]

users = list(np.sort(ratings.userId.unique())) # Get our unique customers
movies = list(ratings.movieId.unique()) # Get our unique products that were purchased
rating = list(ratings.rating) # All of our purchases

rows = ratings.userId.astype('category', categories = users).cat.codes 
# Get the associated row indices
cols = ratings.movieId.astype('category', categories = movies).cat.codes 
# Get the associated column indices
user_item = sparse.csr_matrix((rating, (rows, cols)), shape=(len(users), len(movies)))

matrix_size = user_item.shape[0]*user_item.shape[1] # Number of possible interactions in the matrix
num_purchases = len(user_item.nonzero()[0]) # Number of items interacted with
sparsity = 100*(1 - (1.0*num_purchases/matrix_size))
print (sparsity)

user_item

98.3560858391

/home/maviator/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:7: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  import sys
/home/maviator/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:9: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  if __name__ == '__main__':

<671x9066 sparse matrix of type '<type 'numpy.float64'>'
	with 100004 stored elements in Compressed Sparse Row format>

## Recommending Movies to users

In [4]:
model = implicit.als.AlternatingLeastSquares(factors=10, 
                                             iterations=20, 
                                             regularization=0.1, 
                                             num_threads=4)
model.fit(user_item.T)

First let's write a function that returns the movies that a particular user had rated

In [5]:
def get_rated_movies_ids(user_id, user_item, users, movies):
    """
    Input
    -----
    
    user_id: int
        User ID
        
    user_item: scipy.Sparse Matrix
        User item interaction matrix
        
    users: np.array
        Mapping array between user ID and index in the user item matrix
        
    movies: np.array
        Mapping array between movie ID and index in the user item matrix
        
    Output
    -----
    
    movieTableIDs: python list
        List of movie IDs that the user had rated
    
    """
    user_id = users.index(user_id)
    # Get matrix ids of rated movies by selected user
    ids = user_item[user_id].nonzero()[1]
    # Convert matrix ids to movies IDs
    movieTableIDs = [movies[item] for item in ids]
    
    return movieTableIDs

In [6]:
movieTableIDs = get_rated_movies_ids(1, user_item, users, movies)

In [7]:
rated_movies = pd.DataFrame(movieTableIDs, columns=['movieId'])
rated_movies

    movieId
0        31
1      1029
2      1061
3      1129
4      1172
5      1263
6      1287
7      1293
8      1339
9      1343
10     1371
11     1405
12     1953
13     2105
14     2150
15     2193
16     2294
17     2455
18     2968
19     3671

In [8]:
movies_table = pd.read_csv("data/ml-latest-small/movies.csv")
movies_table.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
rated_movies = pd.merge(rated_movies, movies_table, on='movieId', how='left')
rated_movies

,movieId,title,genres
0,31,Dangerous Minds (1995),Drama
1,1029,Dumbo (1941),Animation|Children|Drama|Musical
2,1061,Sleepers (1996),Thriller
3,1129,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1172,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1263,"Deer Hunter, The (1978)",Drama|War
6,1287,Ben-Hur (1959),Action|Adventure|Drama
7,1293,Gandhi (1982),Drama
8,1339,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1343,Cape Fear (1991),Thriller
10,1371,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi
11,1405,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime
12,1953,"French Connection, The (1971)",Action|Crime|Thriller
13,2105,Tron (1982),Action|Adventure|Sci-Fi
14,2150,"Gods Must Be Crazy, The (1980)",Adventure|Comedy
15,2193,Willow (1988),Action|Adventure|Fantasy
16,2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
17,2455,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller
18,2968,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi
19,3671,Blazing Saddles (1974),Comedy|Western

In [10]:
def get_movies(movieTableIDs, movies_table):
    """
    Input
    -----
    
    movieTableIDs: python list
        List of movie IDs that the user had rated
        
    movies_table: pd.DataFrame
        DataFrame of movies info
        
    Output
    -----
    
    rated_movies: pd.DataFrame
        DataFrame of rated movies
    
    """
    
    rated_movies = pd.DataFrame(movieTableIDs, columns=['movieId'])
    
    rated_movies = pd.merge(rated_movies, movies_table, on='movieId', how='left')
    
    return rated_movies

In [11]:
movieTableIDs = get_rated_movies_ids(1, user_item, users, movies)
df = get_movies(movieTableIDs, movies_table)
df

,movieId,title,genres
0,31,Dangerous Minds (1995),Drama
1,1029,Dumbo (1941),Animation|Children|Drama|Musical
2,1061,Sleepers (1996),Thriller
3,1129,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1172,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1263,"Deer Hunter, The (1978)",Drama|War
6,1287,Ben-Hur (1959),Action|Adventure|Drama
7,1293,Gandhi (1982),Drama
8,1339,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1343,Cape Fear (1991),Thriller
10,1371,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi
11,1405,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime
12,1953,"French Connection, The (1971)",Action|Crime|Thriller
13,2105,Tron (1982),Action|Adventure|Sci-Fi
14,2150,"Gods Must Be Crazy, The (1980)",Adventure|Comedy
15,2193,Willow (1988),Action|Adventure|Fantasy
16,2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
17,2455,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller
18,2968,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi
19,3671,Blazing Saddles (1974),Comedy|Western

In [12]:
def recommend_movie_ids(user_id, model, user_item, users, movies, N=5):
    """
    Input
    -----
    
    user_id: int
        User ID
        
    model: ALS model
        Trained ALS model
    
    user_item: sp.Sparse Matrix
        User item interaction matrix so that we do not recommend already rated movies
        
    users: np.array
        Mapping array between User ID and user item index
        
    movies: np.array
        Mapping array between Movie ID and user item index
        
    N: int (default =5)
        Number of recommendations
        
    Output
    -----
    
    movies_ids: python list
        List of movie IDs
    """
    
    user_id = users.index(user_id)
    
    recommendations = model.recommend(user_id, user_item, N=N)
    
    recommendations = [item[0] for item in recommendations]
    
    movies_ids = [movies[ids] for ids in recommendations]
    
    return movies_ids

In [13]:
movies_ids = recommend_movie_ids(1, model, user_item, users, movies, N=5)
movies_ids

[1374, 1127, 1214, 1356, 1376]

In [14]:
movies_rec = get_movies(movies_ids, movies_table)
movies_rec

,movieId,title,genres
0,1374,Star Trek II: The Wrath of Khan (1982),Action|Adventure|Sci-Fi|Thriller
1,1127,"Abyss, The (1989)",Action|Adventure|Sci-Fi|Thriller
2,1214,Alien (1979),Horror|Sci-Fi
3,1356,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller
4,1376,Star Trek IV: The Voyage Home (1986),Adventure|Comedy|Sci-Fi

In [15]:
df

,movieId,title,genres
0,31,Dangerous Minds (1995),Drama
1,1029,Dumbo (1941),Animation|Children|Drama|Musical
2,1061,Sleepers (1996),Thriller
3,1129,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1172,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1263,"Deer Hunter, The (1978)",Drama|War
6,1287,Ben-Hur (1959),Action|Adventure|Drama
7,1293,Gandhi (1982),Drama
8,1339,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1343,Cape Fear (1991),Thriller
10,1371,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi
11,1405,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime
12,1953,"French Connection, The (1971)",Action|Crime|Thriller
13,2105,Tron (1982),Action|Adventure|Sci-Fi
14,2150,"Gods Must Be Crazy, The (1980)",Adventure|Comedy
15,2193,Willow (1988),Action|Adventure|Fantasy
16,2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy
17,2455,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller
18,2968,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi
19,3671,Blazing Saddles (1974),Comedy|Western

## Add posters data

In [16]:
metadata = pd.read_csv('data/movies_metadata.csv')

image_data = metadata[['imdb_id', 'poster_path']]

links = pd.read_csv("data/links.csv")

links = links[['movieId', 'imdbId']]

image_data = image_data[~ image_data.imdb_id.isnull()]

def app(x):
    try:
        return int(x[2:])
    except ValueError:
        print x
        
image_data['imdbId'] = image_data.imdb_id.apply(app)
image_data = image_data[~ image_data.imdbId.isnull()]
image_data.imdbId = image_data.imdbId.astype(int)
image_data = image_data[['imdbId', 'poster_path']]


posters = pd.merge(image_data, links, on='imdbId', how='left')

posters = posters[['movieId', 'poster_path']]

posters = posters[~ posters.movieId.isnull()]

posters.movieId = posters.movieId.astype(int)

movies_table = pd.merge(movies_table, posters, on='movieId', how='left')
movies_table.head()

/home/maviator/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0
0
0

,movieId,title,genres,poster_path
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1,2,Jumanji (1995),Adventure|Children|Fantasy,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2,3,Grumpier Old Men (1995),Comedy|Romance,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4,5,Father of the Bride Part II (1995),Comedy,/e64sOI48hQXyru7naBFyssKFxVd.jpg

In [17]:
from IPython.display import HTML
from IPython.display import display

def display_posters(df):
    
    images = ''
    for ref in df.poster_path:
            if ref != '':
                link = 'http://image.tmdb.org/t/p/w185/' + ref
                images += "<img style='width: 120px; margin: 0px; \
                  float: left; border: 1px solid black;' src='%s' />" \
              % link
    display(HTML(images))

In [18]:
movies_rec = get_movies(movies_ids, movies_table)
movies_rec

,movieId,title,genres,poster_path
0,1374,Star Trek II: The Wrath of Khan (1982),Action|Adventure|Sci-Fi|Thriller,/7VKpj4Xl3hTzgAS3xpVuOyqNnSv.jpg
1,1127,"Abyss, The (1989)",Action|Adventure|Sci-Fi|Thriller,/kRP5dGXDhKt7bDpXX4YBa4dRwlL.jpg
2,1214,Alien (1979),Horror|Sci-Fi,/2h00HrZs89SL3tXB4nbkiM7BKHs.jpg
3,1356,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller,/qhVB8eUGwkdVvd8Fezk0AgcMPDH.jpg
4,1376,Star Trek IV: The Voyage Home (1986),Adventure|Comedy|Sci-Fi,/62nATuMKuaLhd5VHKumHOrJnCZa.jpg

In [19]:
display_posters(movies_rec)

In [20]:
movies_ids = recommend_movie_ids(100, model, user_item, users, movies, N=7)
movies_rec = get_movies(movies_ids, movies_table)
display_posters(movies_rec)

## Because You've watched

Let's implement Netflix latest features. It's about recommending movies based on what you've watched. This is similar to what we already did, but this time, it's more selective. Here's how we will do it: We will choose random 5 movies that a user had watched and for each movie recommend similar movies to it. Finally, we display all of them in a one page layout

In [21]:
def similar_items(item_id, movies_table, movies, N=5):
    """
    Input
    -----
    
    item_id: int
        MovieID in the movies table
    
    movies_table: DataFrame
        DataFrame with movie ids, movie title and genre
        
    movies: np.array
        Mapping between movieID in the movies_table and id in the item user matrix
        
    N: int
        Number of similar movies to return
        
    Output
    -----
    df: DataFrame
        DataFrame with selected movie in first row and similar movies for N next rows
    """
    # Get movie user index from the mapping array
    user_item_id = movies.index(item_id)
    # Get similar movies from the ALS model
    similars = model.similar_items(user_item_id, N=N+1)    
    # ALS similar_items provides (id, score), we extract a list of ids
    l = [item[0] for item in similars[1:]]
    # Convert those ids to movieID from the mapping array
    ids = [movies[ids] for ids in l]
    # Make a dataFrame of the movieIds
    ids = pd.DataFrame(ids, columns=['movieId'])
    # Add movie title and genres by joining with the movies table
    recommendation = pd.merge(ids, movies_table, on='movieId', how='left')
    
    return recommendation

In [22]:
def display_recommendations(df):
    
    images = ''
    for ref in df.poster_path:
            if ref != '':
                link = 'http://image.tmdb.org/t/p/w185/' + ref
                images += "<img style='width: 120px; margin: 0px; \
                  float: left; border: 1px solid black;' src='%s' />" \
              % link
    display(HTML(images))

In [23]:
def similar_and_display(item_id, movies_table, movies, N=5):
    
    df = similar_items(item_id, movies_table, movies, N=N)
    
    df.dropna(inplace=True)
    
    display_recommendations(df)

In [24]:
movieTableIDs = get_rated_movies_ids(1, user_item, users, movies)
df = get_movies(movieTableIDs, movies_table)
df

,movieId,title,genres,poster_path
0,31,Dangerous Minds (1995),Drama,/y5Jee3QmYOlpqfaPPbfvtdVc5wj.jpg
1,1029,Dumbo (1941),Animation|Children|Drama|Musical,/r5IqhwZ61OuKlsyDwvXWyWQZK30.jpg
2,1061,Sleepers (1996),Thriller,/cDqEv4Fw4JZh2zCfecqw3z09L8z.jpg
3,1129,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,/z1KTbKJh7vSTTXllxxE4DWG63rT.jpg
4,1172,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,/xKAweeF2ZPMNn6ce4GclSbr59Pv.jpg
5,1263,"Deer Hunter, The (1978)",Drama|War,/slNJESItHPqp1CENEJQUPw8d7WE.jpg
6,1287,Ben-Hur (1959),Action|Adventure|Drama,/syPMBvvZsADTTRu3UKuxO1Wflq.jpg
7,1293,Gandhi (1982),Drama,/2z9A4FSu1YySrhhcuqkdMIXpgyN.jpg
8,1339,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller,/ioHxm3D3JdSXR61LRhcVb8KdZOz.jpg
9,1343,Cape Fear (1991),Thriller,/4KvrvcqckdupXXO2YnANtyG7QLK.jpg
10,1371,Star Trek: The Motion Picture (1979),Adventure|Sci-Fi,/ys5Sgpc27mVo3H5zYLPV9LWDq5.jpg
11,1405,Beavis and Butt-Head Do America (1996),Adventure|Animation|Comedy|Crime,/2pW1iACRzmb9OOIhzflYYt3S3s9.jpg
12,1953,"French Connection, The (1971)",Action|Crime|Thriller,/xwDi4wF0I1L5bSW08Y8GocDGjJP.jpg
13,2105,Tron (1982),Action|Adventure|Sci-Fi,/cTF8lpXvAwT1SLH9kVFZZl0AO0D.jpg
14,2150,"Gods Must Be Crazy, The (1980)",Adventure|Comedy,/yvD2BWOEM5N4S4f6Yj8IVVjoKQO.jpg
15,2193,Willow (1988),Action|Adventure|Fantasy,/uxB76XmAMEFeeaRqsPAVumn6rTE.jpg
16,2294,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy,/3biVcPu5hrfKUMC73sTFq17dmmS.jpg
17,2455,"Fly, The (1986)",Drama|Horror|Sci-Fi|Thriller,/q49tjSe3O152t9QVwaradePGu7W.jpg
18,2968,Time Bandits (1981),Adventure|Comedy|Fantasy|Sci-Fi,/4VZtpwdhHQSa4LUkvujyGAHb1hG.jpg
19,3671,Blazing Saddles (1974),Comedy|Western,/rT8uRG8CVONiQdgdFRafVtjSdb4.jpg

In [25]:
def because_you_watched(user, user_item, users, movies, k=5, N=5):
    """
    Input
    -----
    
    user: int
        User ID
        
    user_item: scipy sparse matrix
        User item interaction matrix
        
    users: np.array
        Mapping array between User ID and user item index
        
    movies: np.array
        Mapping array between Movie ID and user item index
        
    k: int
        Number of recommendations per movie
        
    N: int
        Number of movies already watched chosen
    
    """
    
    movieTableIDs = get_rated_movies_ids(user, user_item, users, movies)
    df = get_movies(movieTableIDs, movies_table)
    
    movieIDs = random.sample(df.movieId, N)
    
    for movieID in movieIDs:
        title = df[df.movieId == movieID].iloc[0].title
        print("Because you've watched ", title)
        similar_and_display(movieID, movies_table, movies, k)

In [26]:
because_you_watched(500, user_item, users, movies, k=5, N=5)

("Because you've watched ", 'Cinderella Man (2005)')

("Because you've watched ", 'Fight Club (1999)')

("Because you've watched ", 'Notebook, The (2004)')

("Because you've watched ", 'Monsters, Inc. (2001)')

("Because you've watched ", 'Sideways (2004)')

## Trending movies

Let's also implement trending movies. In our context, trending movies are movies that been rated the most by users

In [27]:
def get_trending(user_item, movies, movies_table, N=5):
    """
    Input
    -----
    
    user_item: scipy sparse matrix
        User item interaction matrix to use to extract popular movies
        
    movies: np.array
        Mapping array between movieId and ID in the user_item matrix
        
    movies_table: pd.DataFrame
        DataFrame for movies information
        
    N: int
        Top N most popular movies to return
    
    """
    
    binary = user_item.copy()
    binary[binary !=0] = 1
    
    populars = np.array(binary.sum(axis=0)).reshape(-1)
    
    movieIDs = populars.argsort()[::-1][:N]
    
    movies_rec = get_movies(movieIDs, movies_table)
    
    movies_rec.dropna(inplace=True)
    
    print("Trending Now")
    
    display_posters(movies_rec)

In [28]:
get_trending(user_item, movies, movies_table, N=6)

Trending Now

In [29]:
def my_timeline(user, user_item, users, movies, movies_table, k=5, N=5):
    
    get_trending(user_item, movies, movies_table, N=N)
    
    because_you_watched(user, user_item, users, movies, k=k, N=N)

In [31]:
my_timeline(500, user_item, users, movies, movies_table, k=5, N=5)

Trending Now

("Because you've watched ", 'Star Wars: Episode IV - A New Hope (1977)')

("Because you've watched ", 'Cars (2006)')

("Because you've watched ", 'Cinderella (1997)')

("Because you've watched ", 'Dirty Dancing (1987)')

("Because you've watched ", "Bug's Life, A (1998)")

## Export trained models to be used in production

At this point, we want to get our model into production. We want to create a web service where a user will provide a userid to the service and the service will return all of the recommendations including the trending and the "because you've watched". We first export the trained model and the used data for use in the web service.

In [32]:
import scipy.sparse
scipy.sparse.save_npz('model/user_item.npz', user_item)

In [33]:
np.save('model/movies.npy', movies)
np.save('model/users.npy', users)
movies_table.to_csv('model/movies_table.csv', index=False)

In [34]:
from sklearn.externals import joblib
joblib.dump(model, 'model/model.pkl')

['model/model.pkl']